@import '../../variables.scss';

.counter {
  display: flex;
  max-width: 3.75rem;
  height: 40px;
  input {
    width: 100%;
    // margin: 0;
    // box-sizing: border-box;
  }
  &__buttons-container {
    display: flex;
    flex-direction: column;
    button {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}