@import '../../variables.scss';

.counter {
  display: flex;
  max-width: 3.75rem;
  height: 40px;
  input {
    @include input-container;
    width: 100%;
    padding: 0.3rem 0.5rem;
  }
  &__buttons-container {
    display: flex;
    flex-direction: column;
    button {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}