@import '../../variables.scss';

.items-container {
  padding: 3rem 0;
  text-align: left;
  @media (min-width: $break-lg) {
    padding: 7rem 0;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.5;
  }
  .items {
    border: 1px solid $color-primary;
    background-color: $color-background;
    border-radius: 5px;
    padding: 3rem;
    &__grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      @media (min-width: $break-sm) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media (min-width: $break-md) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      @media (min-width: $break-lg) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
      @media (min-width: $break-xl) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
      }
    }
  }
  .data-filter-container {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    flex-direction: column;
    @media (min-width: $break-lg) {
      flex-direction: row;
    }
    .flex-1 {
      flex: 1;
    }
    .flex-2 {
      flex: 2;
    }
  }
}